@page
@model RazorPagesGeneral.Pages.SomeInformation.EventEditPageModel
@{
    string path = $"/images/{Model.Event.PhotoPath ?? "noImageCase.jpg"}";
}
<div class="main-content">
    <section class=" darken-bg" style="padding-left:2.7em; padding-right:2.7em; padding-top:0.5em; margin:100px" id="section-contact">
        <div class="container">
          <div class="row">
            <div class="col-11 ">

              <form method="post" enctype="multipart/form-data">
                    
                    <div class="row form-group">
                      <div class="col-md-12">
                        <label class="text-white" >event name</label> 
                        <input  id="eventName" class="form-control text-center" placeholder="funny case" asp-for="Event.EventName">
                        <span asp-validation-for="Event.EventName" class="text-danger"></span>
                      </div>
                    </div>

                    <section class="row align-items-stretch photos align-content-center" style="padding-left:10em; padding-right:10em; padding-top:2em;padding-bottom:2em" id="section-photos">         
                        <a   class="d-block photo-item" style="width:600px; text-align:center; align-content:center" >
                            <img src=@path alt="Image" class="img-fluid">
                            <div class="photo-text-more">
                                <input  id="photo" class="form-control" asp-for="Photo">
                            </div>
                        </a>
                     </section>

                    <div class="row form-group mb-5">
                      <div class="col-md-12">
                        <label class="text-white" >discription</label> 
                        <textarea  id="discription"  class="form-control" cols="30" rows="7" placeholder="it was a sunny day..." asp-for="Event.Description"></textarea>
                        <span asp-validation-for="Event.Description" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-white" >X-position</label>
                        <input  id="PosX" class="form-control" style="-webkit-appearance:none; -moz-appearance: textfield;" placeholder="X-position" asp-for="Event.PosX">
                        <span asp-validation-for="Event.PosX" class="text-danger"></span>
                      </div>
                      <div class="col-md-6">
                        <label class="text-white">Y-position</label>
                        <input  id="PosY" class="form-control" style="-webkit-appearance:none; -moz-appearance: textfield;" placeholder="Y-position" asp-for="Event.PosY">
                       <span asp-validation-for="Event.PosY" class="text-danger"></span>
                      </div>
                    </div>
                    <div class="row">
                        <div class="row form-group">
                          <div class="col-md-12">
                            <input type="submit" value="add" class="btn btn-primary btn-md text-white">
                          </div>
                        </div>

                        <div class="col-md-6">
                            <input  id="PosY" class="form-control custom-file-input" asp-for="Photo">
                        </div>    
                    </div>
                  </form>
            </div>
          </div>
        </div>
      </section>
</div>

<script src="~/js/jquery-3.3.1.min.js"></script>
  <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="~/js/jquery.easing.1.3.js"></script>
  <script src="~/js/jquery-ui.js"></script>
  <script src="~/js/popper.min.js"></script>
  <script src="~/js/bootstrap.min.js"></script>
  <script src="~/js/owl.carousel.min.js"></script>
  <script src="~/js/jquery.stellar.min.js"></script>
  <script src="~/js/jquery.countdown.min.js"></script>
  <script src="~/js/jquery.magnific-popup.min.js"></script>
  <script src="~/js/bootstrap-datepicker.min.js"></script>
  <script src="~/js/aos.js"></script>
  <script src="~/js/jquery.fancybox.min.js"></script>
  <script src="~/js/main.js"></script>
