@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col">
        <h1>Welcome Bitches</h1>
        <img src="/images/main_pic.jpg" alt="oopsie" width="500" height="300"/>
    </div>
</div>
